{% extends 'base.html' %}

{% block content %}
          <h1 style="margin: auto; width: 100%; font-weight:normal; color: #ffffff; font-size: 4rem; text-align:center;"> About us </h1>

           <br>
           <br>
            <div class="side_by_side">
                <div class="circle_with_text" style=" background:rgb(248, 126, 3); font-size: 1rem; width: 35em; height: 35em;">
                    <span circle_with_text_flag='true'> </span>
                    <h2>What is BEST?</h2>
                    <p>BEST (Board of European Students of Technology), is a constantly growing non-profit and non-political organisation. Since 1989 we provide communication, co-operation and exchange possibilities for students all over Europe.</p>
                    <p>84 Local BEST Groups (LBGs) in 30 countries are creating a growing, well organised, powerful, young and innovative student network. </p>
                    <p>BEST strives to help European students of technology to become more internationally minded, by reaching a better understanding of European cultures and developing capacities to work on an international basis. Therefore we create opportunities for the students to meet and learn from one another through our academic and non-academic events and educational symposia. “Learning makes the master”, but the final goal is a good working place, therefore we offer services like an international career centre to broaden the horizons for the choice on the job market. </p>
                </div> 
                
               <div> <br></div>
                
                <div class="circle_with_text" style=" background:rgb(14, 170, 0); font-size: 1rem; width: 32em; height: 32em;">
                    <span circle_with_text_flag='true'> </span>
                    <h2>What about BEST Athens?</h2>
                    <p>At the initiative of certain university students, the Local BEST Group of Athens began its activity in Greece and more specifically, at the National Technical University of Athens in 1997.</p>
                    <p>BEST Athens is aimed at all NTUA students, regardless of their specific field of study, giving them the opportunity to participate in all of the events organised across Europe. Events such as academic courses and engineering competitions are just some of the opportunities we are creating for the student community.</p>
                    <p>Today, BEST Athens is comprised of 30 (το νούμερο θέλει σίγουρα update)  active members from all of NTUA’s Schools as well as having organised more than 100 successful events with participants from Greece and abroad.</p>
                </div> 

            </div>

            

            <h1 style="margin: auto; width: 100%; font-weight:normal; color: #ffffff; font-size: 4rem; text-align:center;"> BEST values </h1>


            <div>
                
            </div>
            <br>


 

    
{% endblock %}