{% extends 'base.html' %}

{%load static%}


{% block content %}
      <h1 style="margin: auto; width: 100%; font-weight:normal; color: #ffffff; font-size: 4rem; text-align:center;"> Big thanks to the BEST sponsors </h1>

      <h1 style="margin: auto; width: 100%; font-weight:normal; color: #ffffff; font-size: 4rem; text-align:center;"> 2024-2025 </h1>

      <div class="grid">
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/RC_ORIGINAL_LOGO.png' %}" alt="Logo"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/Copy of EY_Logo_Beam_STFWC_Stacked_RGB_OffBlack_Yellow_EN.jpg' %}" alt="Logo"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/PwC_fl_c.png' %}" alt="Logo"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/valiadis-site-LOGO-05.svg' %}" alt="Logo" style="background-color:#004583;;"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/logoThenamaris.svg' %}" alt="Logo"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/metlen_logo_rgb_fullcolour_onwhite-large.png' %}" alt="Logo"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/IMG_6744.PNG' %}" alt="Logo"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/IMG_6731.JPG' %}" alt="Logo"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/New_VF_Logo_Horiz_OOH_RGB_RED.png' %}" alt="Logo"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/Copy of logotype final 11_2021.jpg' %}" alt="Logo"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/CP_Logo_1.png' %}" alt="Logo"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/IMG_6742.PNG' %}" alt="Logo"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/IMG_7189.JPG' %}" alt="Logo"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/IMG_6727.PNG' %}" alt="Logo"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/IMG_0196.JPG' %}" alt="Logo"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/IMG_6964.PNG' %}" alt="Logo"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/IMG_6963.PNG' %}" alt="Logo"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/IMG_6960.PNG' %}" alt="Logo"></div>
        <div class="grid-item"><img src="{% static 'images/sponsor_logos/IMG_6900.PNG' %}" alt="Logo"></div>
      </div>

{% endblock %}