{% extends 'base.html' %}

{%load static%}


{% block content %}
      <h1 style="margin: auto; width: 100%; font-weight:normal; color: #ffffff; font-size: 4rem; text-align:center;"> Big thanks to the BEST sponsors </h1>

      <h1 style="margin: auto; width: 100%; font-weight:normal; color: #ffffff; font-size: 4rem; text-align:center;"> 2024-2025 </h1>

      <div class="grid">
        <div class="grid-item"><a href="https://www.realconsulting.gr/"><img src="{% static 'images/sponsor_logos/RC_ORIGINAL_LOGO.png' %}" alt="Logo RC" ></a></div>
        <div class="grid-item"><a href="https://www.ey.com/"><img src="{% static 'images/sponsor_logos/Copy of EY_Logo_Beam_STFWC_Stacked_RGB_OffBlack_Yellow_EN.jpg' %}" alt="Logo EY" ></a></div>
        <div class="grid-item"><a href="https://www.pwc.com"><img src="{% static 'images/sponsor_logos/PwC_fl_c.png' %}" alt="Logo PWC"></a></div>
        <div class="grid-item"><a href="https://valiadismotors.com/"><img src="{% static 'images/sponsor_logos/valiadis-site-LOGO-05.JPG' %}" alt="Logo Valiadis"></a></div>
        <div class="grid-item"><a href="https://www.thenamaris.com/"><img src="{% static 'images/sponsor_logos/logoThenamaris.svg' %}" alt="Logo Thenamaris" ></a></div>
        <div class="grid-item"><a href="https://www.metlengroup.com/"><img src="{% static 'images/sponsor_logos/metlen_logo_rgb_fullcolour_onwhite-large.png' %}" alt="Logo Melten"></a></div>
        <div class="grid-item"><a href="https://kaizengaming.com/home"><img src="{% static 'images/sponsor_logos/IMG_6744.PNG' %}" alt="Logo Kaisen" ></a></div>
        <div class="grid-item"><a href="https://www.acg.edu/"><img src="{% static 'images/sponsor_logos/IMG_6731.JPG' %}" alt="Logo Deree" ></a></div>
        <div class="grid-item"><a href="https://www.vodafone.gr"><img src="{% static 'images/sponsor_logos/New_VF_Logo_Horiz_OOH_RGB_RED.png' %}" alt="Logo Vodafon" ></a></div>
        <div class="grid-item"><a href="https://cenergyholdings.com/"><img src="{% static 'images/sponsor_logos/Copy of logotype final 11_2021.jpg' %}" alt="Logo Cenergy" ></a></div>
        <div class="grid-item"><a href="https://www.colgate.com.gr/"><img src="{% static 'images/sponsor_logos/CP_Logo_1.png' %}" alt="Logo Colgate" ></a></div>
        <div class="grid-item"><a href="https://netcompany.com/"><img src="{% static 'images/sponsor_logos/IMG_6742.PNG' %}" alt="Logo Netcompany" ></a></div>
        <div class="grid-item"><a href="https://www.grant-thornton.gr"><img src="{% static 'images/sponsor_logos/IMG_7189.JPG' %}" alt="Logo GT" ></a></div>
        <div class="grid-item"><a href="https://makelis.com/"><img src="{% static 'images/sponsor_logos/IMG_6727.PNG' %}" alt="Logo Makelis" ></a></div>
        <div class="grid-item"><a href="https://www.airducts.gr/"><img src="{% static 'images/sponsor_logos/IMG_0196.JPG' %}" alt="Logo FAD" ></a></div>
        <div class="grid-item"><a href="https://www.elpen.gr/"><img src="{% static 'images/sponsor_logos/IMG_6964.PNG' %}" alt="Logo Elpen" ></a></div>
        <div class="grid-item"><a href="https://www.chryssafidis.com/"><img src="{% static 'images/sponsor_logos/IMG_6963.PNG' %}" alt="Logo Xrysafidis" ></a></div>
        <div class="grid-item"><a href="https://nova.gr"><img src="{% static 'images/sponsor_logos/IMG_6960.PNG' %}" alt="Logo Nova" ></a></div>
        <div class="grid-item"><a href="https://www.iknowhow.com/"><img src="{% static 'images/sponsor_logos/IMG_6900.PNG' %}" alt="Logo IKH" ></a></div>
      </div>

{% endblock %}