{% extends 'base.html' %}

{%load static%}

{% block content %}

<section class="team_section">
  <h2 class="team_title">The Board</h2>
  <div class="team_grid">
    <div class="team_card">
      <img src="{% static 'images/team/president.jpg' %}" alt="President">
      <h3 class="team_name">Miltiadis Grammatikos</h3>
      <p class="team_role">President</p>
    </div>
    <div class="team_card">
      <img src="{% static 'images/team/secretary.jpg' %}" alt="Secretary">
      <h3 class="team_name">Effimia Manteli</h3>
      <p class="team_role">Secretary</p>
    </div>
    <div class="team_card">
      <img src="{% static 'images/team/treasurer.jpg' %}" alt="Treasurer">
      <h3 class="team_name">Stefanos Kargas</h3>
      <p class="team_role">Treasurer</p>
    </div>
    <div class="team_card">
      <img src="{% static 'images/team/vp-hr.jpg' %}" alt="Vice President of HR">
      <h3 class="team_name">Maria Zolota</h3>
      <p class="team_role">Vice President of Human Resources</p>
    </div>
  </div>

  <h2 class="team_title">Coordinators</h2>
  <div class="team_grid">
    <div class="team_card">
      <img src="{% static 'images/team/cr.jpg' %}" alt="CR Coordinator">
      <h3 class="team_name">Malena Papadopoulou</h3>
      <p class="team_role">CR Coordinator</p>
    </div>
    <div class="team_card">
      <img src="{% static 'images/team/pr.jpg' %}" alt="PR Coordinator">
      <h3 class="team_name">Dimitrios Sakkatos</h3>
      <p class="team_role">PR Coordinator</p>
    </div>
    <div class="team_card">
      <img src="{% static 'images/team/design.jpg' %}" alt="Design Coordinator">
      <h3 class="team_name">Ermioni Petropoulou</h3>
      <p class="team_role">Design Coordinator</p>
    </div>
    <div class="team_card">
      <img src="{% static 'images/team/it.jpg' %}" alt="IT Coordinator">
      <h3 class="team_name">Michail Poulakis</h3>
      <p class="team_role">IT Coordinator</p>
    </div>
  </div>
  <br>
</section>

    
{% endblock %}